language: python
python: 
  - "3.7"
sudo: false

dist: xenial
install: 
  - "pip install -r requirements.txt"
  - "pip install -r docsrc/requirements.txt"
jobs: 
  include: 
    - stage: unittest 
      script: pytest
	- stage: "deploy docs"
      script: 
        - "cd docsrc"
        - "make html"
        - "touch _build/html/.nojekyll"
        - "cd -"
      deploy: 
        github_token: $GITHUB_TOKEN
        keep-history: false
        local_dir: docsrc/_build/html
        provider: pages
        skip_cleanup: true
      
      
