dist: xenial   # required for Python >= 3.7
language: python

python:
  - "3.7"

install:
  - pip install -r requirements.txt
  - pip install -r docsrc/requirements.txt

jobs:
  include:
	- stage: "deploy documents"
		#update documents using sphinx
	  script:             # build sphinx document
		- cd docsrc
		- make html
		- touch _build/html/.nojekyll
		- cd -
	  deploy:              # deploy to github page
		provider: pages
		skip_cleanup: true
		local_dir: docsrc/_build/html
		github_token: $GITHUB_TOKEN # Set in travis-ci.org dashboard
		keep-history: false
