language: python
python: 
  - "3.7"

dist: xenial
install: 
  - pip install -r requirements.txt
  - pip install -r docsrc/requirements.txt
 
script: 
  - pytest
  - cd docsrc
  - make html
  - touch _build/html/.nojekyll
  - cd -

deploy: 
  provider: pages
  skip_cleanup: true
  local_dir: docsrc/_build/html
  github_token: $GITHUB_TOKEN
  keep-history: false