language: python
dist: xenial   # required for Python >= 3.7

python:
  - "3.7"

install:
  - pip install -r requirements.txt
  - pip install -r docsrc/requirements.txt
jobs:
  include:
    - stage: unittest
	  script: echo "unittest"
	- stage: deploy docs
	  script:
	  - cd docsrc
	  - make html
	  - touch _build/html/.nojekyll
	  - cd -
	  deploy:
	    provider: pages
	    skip_cleanup: true
	    local_dir: docsrc/_build/html
	    github_token: $GITHUB_TOKEN 
	    keep-history: false
