dist: xenial   # required for Python >= 3.7
language: python
python:
  - "3.7"
#update documents using sphinx
install:
  - pip install -r docsrc/requirements.txt
script:             # build sphinx document
  - cd docsrc
  - make html
  - cd -
deploy:              # deploy to github page
  provider: pages
  skip_cleanup: true
  local_dir: docsrc/_build/html
  github_token: $GITHUB_TOKEN # Set in travis-ci.org dashboard
  keep-history: false